img {
  border-radius: 18px;
  margin-top: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: zoom-in;
}

img:hover {
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}
